body
{
	font-size: 16px;
	font-family: Georgia;
}
table
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px;
}

.Titres
{
	margin-left: 25%;
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
}

.td_largeur { width:220px;}

.tr_hauteur { height: 30px;}

.tr_hauteur2 { height: 50px;}

/*td
{
    border: 1px solid black;
}*/

h1
{
	color : #DC143C;
	text-decoration: underline;
	text-align: center;
	font-size: 40px;
}

.Fin
{
		margin-left: 25%;
}

.Jaccepte
{
	margin-left: 25%;
	color: black;
	font-style: italic;
}

