.conteneur-onglets 
{
margin-left:auto;
margin-right:auto;
padding:0 0 0 5px;
width:80%;
}
.onglet
{
display:inline-block;
margin:5px 2px 0 2px;
padding:5px 10px ;
border:1px solid #AAA;
border-bottom:none;
border-radius:5px 5px 0 0;
color:black;
cursor: pointer;
}
.inactif
{
background:#EEE;
}
.inactif:hover
{
background:#9C031B;
}
.affiche-contenu-1
{
background:white;
border-bottom:2px solid white;
padding-bottom:4px;
}
.contenu
{
background-color:white;
margin-left:auto;
margin-right:auto;
margin-top:50px;
padding:5px;
display:none;
border:1px solid #9C031B;
border-radius:4px;
width:80%;
color:black;
font-size:20px;
font-family:calibri;
text-align:center;
}

#contenu_1{
	height:100px;
}
#contenu_2{
	height:100px;
}
#contenu_3{
	height:100px;
}
#contenu_4{
	height:100px;
}
#contenu_5{
	height:200px;
}
#contenu_6{
	height:100px;
}
#contenu_7{
	height:100px;
}
#contenu_8{
	height:100px;
}
#contenu_9{
	height:100px;
}
#contenu_10{
	height:100px;
}
#contenu_11{
	height:100px;
}


